@page
@model AllAreasModel
@{
  ViewData["Title"] = "List of All Chicago Areas";
}

<h2>List of All Chicago Areas</h2>  

<br />
Total Number of Areas :  @Model.totalAreas
<br />

@{
   if (@Model.EX != null)
	 {
	   <br />
		 <br />
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>   
            <th>  
                Area Name
            </th>  
            <th>  
                Area ID
            </th>  
            <th>  
                Number of Crimes in Area
            </th>  
            <th>  
                Percent of Chicago Crime
            </th>  
        </tr>  
    </thead>  
    <tbody>  

				
        @foreach (var item in Model.AreaList)  
        {  
            <tr>   
                <td>  
                    @item.AreaName
                </td>  
                <td>  
                    @item.AreaNum
                </td>  
                <td>  
                    @item.numCrimes
                </td>  
                <td>  
                    @item.percentChicago
                </td>  
            </tr>  
						
        }  
    </tbody>  
</table> 